.actor {
  position: absolute;
}

/*  --- Hover --- */

.hover-text {
  visibility: hidden;
  position: absolute;
  top: 0;
  z-index: 10;
  white-space: nowrap;
  background-color: rgb(255, 231, 96);
  padding-left: 10%;
  padding-right: 10%;
  border: solid 1px black;
}

.actor-container:hover .hover-text {
  visibility: visible;
}



#pet-shop-door:hover {
  transform: scale(1.15);
}

#dude:hover,
#poster:hover {
  transform: scale(1)
}

#bin:hover {
  transform: scale(.9)
}


/*  --- Door --- */

#pet-shop-door {
  left: -130%;
  top: -50%;
  transform: rotate(-5deg);

  background-image: url("/Stage/door-spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  background-size: 1100%;
  background-position: 0px 0px;

  animation: door-idle;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-timing-function: steps(5);
  animation-iteration-count: infinite;

}

#pet-shop-door[data-attention='1'] {
  animation: door-open;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-timing-function: steps(11);
  animation-iteration-count: 1;
}

@keyframes door-idle {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 50% 0
  }
}

@keyframes door-open {
  from {
    background-position: 0% 100%;
  }

  to {
    background-position: 110% 100%
  }
}


#awning {
  pointer-events: none;
  z-index: 10;
  left: -110%;
  top: 10%;
}

/*  --- Poster --- */

#poster {
  transform: scale(.8);
  top: 30%;
  left: -50%;
  z-index: 2;

  background-repeat: no-repeat;
  display: block;
  background-size: 1500%;
  background-position: 0px 0px;
  background-image: url("/Stage/poster-spritesheet.png");

  animation: poster-idle;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-timing-function: steps(5);
  animation-iteration-count: infinite;
}

#poster[data-attention='1'] {
  animation: poster-open;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-timing-function: steps(15);
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes poster-idle {
  from {
    background-position: 0% 100%
  }

  to {
    background-position: 35.7% 100%
  }
}

@keyframes poster-open {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 107.15% 0%
  }
}


/*  --- Bin --- */

#bin {
  transform: scale(.8);
  z-index: 9;
  background-image: url("/mockup/bin-blink-color-sheet.png");
  background-size: 500%;
  display: block;
  animation-name: smile2;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(4);
  animation-iteration-count: 1;
}

#bin-wobble {
  background-image: url("/mockup/bin-wobble.png");
}


#bin[data-attention='1'] {
  z-index: 9;
  animation: bounce-7 1s cubic-bezier(0.280, 0.840, 0.420, 1), smile .5s steps(4) forwards
}


.outline-wobble {
  background-size: 500%;
  display: block;
  background-position: 0 0;
  width: 100%;
  height: 100%;
  position: absolute;
  animation: wobble;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-timing-function: steps(4);
  animation-iteration-count: infinite;
}

/* --- Eli / Dude --- */

#dude {

  transform: scale(.9);
  background-image: url("/Stage/Eli-sheet.png");
  background-repeat: no-repeat;
  z-index: 10;
  left: 40%;
  bottom: -120%;
  background-size: 1300%;
  display: block;
  background-position: 0 0;

  animation: eli-idle;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-timing-function: steps(6);
  animation-iteration-count: infinite;
}

#dude[data-attention='1'] {
  animation: eli-wave;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-timing-function: steps(13);
  animation-direction: alternate;
  animation-iteration-count: 1;
}

@keyframes eli-idle {
  from {
    background-position: 0% 100%
  }

  to {
    background-position: 50% 100%
  }
}

@keyframes eli-wave {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 108.4% 0%
  }
}




@keyframes wobble {
  from {
    background-position: -100%;
  }

  to {
    background-position: -500%;
  }
}

@keyframes sprite {
  0% {
    background-position: -0%;
  }

  10% {
    background-position: -100%;
  }

  20% {
    background-position: -100%;
  }

  100% {
    background-position: -100%;
  }
}

@keyframes smile {
  from {
    background-position: 0%;
  }

  to {
    background-position: -200%;
  }
}

@keyframes un-smile {
  from {
    background-position: -400%;
  }

  to {
    background-position: -0%;
  }
}

@keyframes smile2 {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: -400%;
  }

  75% {
    background-position: -400%;
  }

  100% {
    background-position: -0%;
  }
}





@keyframes bounce-7 {
  0% {
    transform: scale(.8, .8) translateY(0);
  }

  10% {
    transform: scale(.7, .8) translateY(0);
  }

  30% {
    transform: scale(.8, .85) translateY(-20%);
  }

  50% {
    transform: scale(.75, .85) translateY(0);
  }

  57% {
    transform: scale(.8, .85) translateY(-5%);
  }

  64% {
    transform: scale(.8, .8) translateY(0);
  }

  100% {
    transform: scale(.8, .8) translateY(0);
  }
}

/* --- Shaddows --- */

.shaddow {
  position: absolute;
  height: 100%;
  width: 100%;
}

#bin-shaddow {
  left: 100%;
  bottom: -260%;
  z-index: 1;
  /* height: 100%; */
  /* background-color: aqua; */
}

#dude-shaddow {
  top: 130%;
  left: 60%;
  position: absolute;
  transform: scale(70%, 100%);
}

#dude-shaddow[data-attention='1'] {
  animation-name: wave;
  animation-duration: .4s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: 4;
}

#bin-shaddow[data-attention='1'] {
  animation-name: shrink;
  animation-duration: .2s;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes shrink {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(.85) translateX(-10%);
  }
}

@keyframes wave {
  from {
    transform: scale(70%, 100%)
  }

  to {
    transform: scale(73%, 99%)
  }
}