.col > td {
outline: rgba(0, 0, 0, 0.13) solid 1px;
text-align: center;
}

.grid-container {
  width: 500px;
  height: 500px;
  background-image: url('/mockup/wall.png');
}

.actor{
  position: absolute;

}

#bin {

  width: 150px;
  bottom: 0


}


#dude {
  width: 70px;
  bottom: -30px;
}