.col > td {
outline: rgba(0, 0, 0, 0.13) solid 1px;
text-align: center;

}

.coord {
  position: absolute;
  color: rgba(0, 0, 0, 0.411);



}

.grid-container {
  min-width: 300px;
  width: 1000px;
  height: 1000px;
  background-image: url('/mockup/wall.png');
  background-size: cover;
  overflow-x: scroll !important;
}

.actor{
  position: absolute;

}

#pet-shop-door {
  top: 30%
}

#bin {
}

#bin[data-attention='1'] {
  animation: bounce-7 1s 1;
  animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
}


#dude {
  bottom: -30%;
  left: 15%;
}

@keyframes bounce-7 {
  0%   { transform: scale(1,1)      translateY(0); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-30px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-3px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}

@media (max-width: 300px) {

  .grid-container {
    width: 300px;
    height: 300px;

  }
}

@media (min-width: 300px) {

  .grid-container {
    width: 300px;
    height: 300px;

  }
}
@media (min-width: 400px) {

  .grid-container {
    width: 400px;
    height: 400px;

  }
}

@media (min-width: 500px) {

  .grid-container {
    width: 500px;
    height: 500px;

  }
}

@media (min-width: 600px) {

  .grid-container {
    width: 600px;
    height: 600px;

  }
}
@media (min-width: 850px) {

  .grid-container {
    width: 650px;
    height: 650px;

  }
}

 @media (min-width: 1000px) {

  .grid-container {
    width: 750px;
    height: 750px;

  }
}


@media (min-width: 2000px) {

  .grid-container {
    width: 1200px;
    height: 1200px;

  }
}
