.col>td {
  /* outline: rgba(0, 0, 0, 0.13) solid 1px; */
  text-align: center;

}

.coord {
  position: absolute;
  color: rgba(0, 0, 0, 0.411);



}

.grid-container {
  min-width: 300px;
  width: 1000px;
  height: 1000px;
  background-image: url('/mockup/back-1.png');
  background-size: cover;
  overflow: hidden !important;
  outline: rgba(0, 0, 0, 0.13) solid 5px;


}

.actor {
  position: absolute;

}

#pet-shop-door {
  left: -180%;
  top: -65%;
  transform: scale(.8, .9);
}

#awning {
  z-index: 10;
  left: -200%;
  top: 10%;
}

#poster {
  transform: scale(1.8);
  top: 100%
}

#bin {
  transform: scale(.8);
  z-index: 9;
  top: 100%;
  left: 60%;
  background-image: url("/mockup/bin-blink-color-sheet.png");
  background-size: 500%;
  display: block;
  background-position: 0 0;
  animation-name: smile2;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: steps(4);
  animation-iteration-count: 1;
}

#dude {

  transform: scale(1);
  background-image: url("/mockup/dude-breathe-color-sheet.png");

  z-index: 10;
  left: 20%;
  bottom: -100%;
  background-size: 400%;
  display: block;
  background-position: 0 0;

  animation: sprite;
  animation-duration: 4s;
  animation-direction: alternate;
  animation-timing-function: steps(3);
  animation-iteration-count: infinite;
}

@keyframes sprite {
  0% {
    background-position: -0%;

  }

  10% {
    background-position: -100%;
  }

  20% {
    background-position: -100%;

  }

  100% {
    background-position: -100%;
  }

}

@keyframes smile {

  from {
    background-position: 0%;
  }

  to {
    background-position: -200%;
  }

}

@keyframes un-smile {

  from {
    background-position: -400%;
  }

  to {
    background-position: -0%;
  }

}

@keyframes smile2 {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: -400%;
  }

  75% {
    background-position: -400%;

  }

  100% {
    background-position: -0%;
  }
}



#bin[data-attention='1'] {
  z-index: 9;
  animation: bounce-7 .7s cubic-bezier(0.280, 0.840, 0.420, 1), smile .5s steps(4) forwards
}



@keyframes bounce-7 {

  0% {
    transform: scale(.8, .8) translateY(0);
  }

  10% {
    transform: scale(.7, .8) translateY(0);
  }

  30% {
    transform: scale(.8, .85) translateY(-20%);
  }

  50% {
    transform: scale(.75, .85) translateY(0);
  }

  57% {
    transform: scale(.8, .85) translateY(-5%);
  }

  64% {
    transform: scale(.8, .8) translateY(0);
  }

  100% {
    transform: scale(.8, .8) translateY(0);
  }
}

@media (max-width: 300px) {

  .grid-container {
    width: 300px;
    height: 300px;

  }
}

@media (min-width: 300px) {

  .grid-container {
    width: 300px;
    height: 300px;

  }
}

@media (min-width: 450px) {

  .grid-container {
    width: 400px;
    height: 400px;

  }
}

@media (min-width: 550px) {

  .grid-container {
    width: 500px;
    height: 500px;

  }
}

@media (min-width: 650px) {

  .grid-container {
    width: 600px;
    height: 600px;

  }
}

@media (min-width: 850px) {

  .grid-container {
    width: 650px;
    height: 650px;

  }
}

@media (min-width: 1000px) {

  .grid-container {
    width: 750px;
    height: 750px;

  }
}


@media (min-width: 2000px) {

  .grid-container {
    width: 1200px;
    height: 1200px;

  }
}