.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content-container {
  min-width: none 300px;
}

.footer {
  display: flex;
  flex: 1;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}




.logo {
  height: 1em;
}

/*  --- Header --- */

#header-container {
  min-width: 300px;
  margin-bottom: 2%
}

#title {
  color: #eaeaea00;
  /* font-size: 4em; */
  align-items: baseline;
  line-height: 1.4;
  font-weight: 700;
  background-image: url('/mockup/Title-color.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

#nav {
  /* font-size: 2em; */
  white-space: nowrap;
}

@media (max-width: 300px) {

  #nav {
    font-size: 1em;
  }

  #title {
    font-size: 3.5em;
  }
}

@media (min-width: 300px) {

  #nav {
    font-size: 1em;
  }

  #title {
    font-size: 3.5em;
  }
}

@media (min-width: 450px) {
  #nav {
    font-size: 1.5em;
  }

  #title {
    font-size: 5em;
  }

}

@media (min-width: 550px) {
  #nav {
    font-size: 1.5em;
  }

  #title {
    font-size: 5.5em;
  }
}

@media (min-width: 600px) {
  #nav {
    font-size: 1.75em;
  }

  #title {
    font-size: 6em;
  }
}

@media (min-width: 650px) {
  #nav {
    font-size: 2em;
  }

  #title {
    font-size: 7em;
  }
}

@media (min-width: 850px) {

  #title {
    font-size: 7.5em;
  }

  #nav {
    font-size: 2em;
  }
}

@media (min-width: 1000px) {
  #nav {
    font-size: 2.75em;
  }

  #title {
    font-size: 9em;
  }
}

@media (min-width: 2000px) {
  #nav {
    font-size: 3em;
  }

  #title {
    font-size: 10em;
  }
}