.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(62, 253, 180);
  /* background-color: #DFDBE5; */
  /* background-color: #DFDBE5; */
  background-color: #f3a774;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%235d273c' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

.main-content-container {
  min-width: none 300px;
}

.footer {
  display: flex;
  flex: 1;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}




.logo {
  height: 1em;
}

/*  --- Header --- */

.header-container {
  min-width: 300px;
  margin-bottom: 2%;
  position: relative;
  z-index: 0;
}

#title-base {
  /* height: min(20vh, 20vw); */
  height: 100%;
  position: absolute;
  width: 120%;
  height: 120%;
  background-color: #f3a774;
  top: -20%;
  left: -10%;
  clip-path: polygon(15% 16%, 43% 15%, 44% 6%, 82% 6%, 82% 25%, 100% 26%, 100% 59%, 88% 60%, 88% 78%, 44% 80%, 44% 90%, 9% 90%, 9% 78%, 0% 78%, 0 48%, 9% 49%, 9% 27%, 15% 26%);
}

#img-container {
  z-index: 5;
  position: relative;
  width: 100%;
}

#title-img {
  position: relative;
  width: 100%;
  z-index: 3;
}

#title-shaddow {
  position: absolute;
  width: 100%;
  filter: blur(max(1vh, 1vw));
  -webkit-filter: blur(max(1vh, 1vw));
  z-index: 2;
}

#title {
  width: 100%;
  color: #eaeaea00;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 5 !important;
}

.nav-wrapper {
  height: 100%;
  width: 100%;
  padding-bottom: 10%;
  padding-top: 10%;
  z-index: 1;

}

.link {
  color: rgb(144, 44, 153);
}

#nav {
  /* font-size: 2em; */
  white-space: nowrap;
  z-index: 2;
  color: #f3a774
}

#nav-base {
  background-color: rgb(154, 235, 208);
  width: 105%;
  height: 30%;
  bottom: 12%;
  right: -2.5%;
  border-left: solid 1vh rgb(144, 44, 153);
  position: absolute;
  z-index: 0;
}

@media (max-width: 300px) {

  #nav {
    font-size: 1em;
  }

  .header-container {
    width: 300px;

  }
}

@media (min-width: 300px) {

  #nav {
    font-size: .9em;
  }

  .header-container {
    width: 300px;

  }
}

@media (min-width: 450px) {
  #nav {
    font-size: 1.1em;
  }


  .header-container {
    width: 400px;

  }

}

@media (min-width: 550px) {
  #nav {
    font-size: 1.5em;
  }

  .header-container {
    width: 500px;

  }
}

@media (min-width: 600px) {
  #nav {
    font-size: 1.3em;
  }


}

@media (min-width: 650px) {
  #nav {
    font-size: 1.7em;
  }



  .header-container {
    width: 600px;

  }
}


@media (min-width: 850px) {



  #nav {
    font-size: 1.9em;
  }

  .header-container {
    width: 650px;

  }

  .main {
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='88' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%235d273c' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  }



}

@media (min-width: 1000px) {
  #nav {
    font-size: 2.2em;
  }


  .header-container {
    width: 750px;

  }
}

@media (min-width: 2000px) {
  #nav {
    font-size: 3em;
  }


  .header-container {
    width: 1200px;

  }

  .main {
    background-image: url("data:image/svg+xml,%3Csvg width='168' height='176' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%235d273c' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  }
}