
.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content-container {
  min-width: none 300px;
}

.footer {
  display: flex;
  flex: 1;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}




.logo {
  height: 1em;
}

/*  --- Header --- */

.header-container {
  min-width: 300px;
}

#title {
  font-size: 4em;
  vertical-align: baseline;
  font-weight: 700;
}

#nav {
  font-size: 2em;
  padding: 3%;
}



@media (min-width: 850px) {

  #title {
    font-size: 5em;
  }
  #nav {
    font-size: 2.75em;

  }

}

@media (max-width: 500px) {
  #nav {
    font-size: 1.5em;
  }
  #title {
    font-size: 3em;
  }


  }

  @media (max-width: 400px) {
    #nav {
      font-size: 1.1em;
    }
    #title {
      font-size: 2.5em;
    }


    }

    @media (min-width: 1000px) {
      #nav {
        font-size: 2.5em;

      }

      #title {
        font-size: 6.5em;
      }


    }

    @media (min-width: 2000px) {
      #nav {
        font-size: 3em;
      }

      #title {
        font-size: 9em;
      }


    }